      /* Font */
        * {
            font-family: 'Switzer', sans-serif;
        }

        .text-darkGrey {
            color: #4c4c4c;
        }

        .text-darkGrey2 {
            color: #8a8a8a;
        }

        .bg-darkMode {
            background-color: #141414;
        }

        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }

        .scrollbar-hide {
            -ms-overflow-style: none;

            scrollbar-width: none;

        }


        @keyframes autoScroll {
            0% {
                translate: 0;
            }

            100% {
                translate: -50%;
            }
        }

        @keyframes appear {
            from {
                opacity: 0;
                scale: 0.5;
            }

            to {
                opacity: 1;
                scale: 1;
            }
        }

        @keyframes left {
            from {
                scale: 0.2;
                transform: translateX(-500px);
            }

            to {
                scale: 1;
                transform: translateX(0px);

            }
        }

        @keyframes right {
            from {
                scale: 0.2;
                transform: translateX(500px);
            }

            to {
                scale: 1;
                transform: translateX(0px);

            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateX(50px);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @keyframes fallDown {
            from {
                opacity: 0;
                transform: translateY(70px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .animate-fallDown {
            animation: fallDown 3s ease-in linear;

        }


        .animate-fadeIn {
            animation: fadeIn 3s ease-out linear;

        }

        .animate-left {
            animation: left 3s linear;
            animation-timeline: view();
            animation-range: entry 0% cover 42%;
        }

        .animate-right {
            animation: right 3s linear;
            animation-timeline: view();
            animation-range: entry 0% cover 42%;
        }


        .animate-show {
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 0% cover 28%;
        }

        .animate-autoScroll {
            display: flex;
            animation: autoScroll 7s infinite linear;
        }